@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100%;
}

nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #000000;
    width: 60px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0,0,0);
}


.cta{
    vertical-align: text-top;
    transition: all 0.3s ease 0s;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}


.logo{
    vertical-align: text-top;
    font-size: larger;
    margin-left: flex;
    color: white;
}



.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 px 20px;
    margin-left: 5px;
}

:root{
    --primary: #f2bf30;
}


.full-width{
    flex-basis: 100%;
}

.button-logo{
    vertical-align: top;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 26px;
    box-shadow: 0 5px 15px - 5px #111;
    cursor: pointer;
    font-family: roboto;
    height: 50px;
    width: 50px;
    overflow: hidden;
    transition: text-shadow 0.5s ease;
    padding: 5px;
    
}

.button_icon{
    color: rgb(255, 255, 255);
    transition: color 0.5s ease-out;
}

.button-logo:hover{
    animation: glow 1s infinite alternate;
    text-shadow: 0 0 15px var(--primary);
}

.button:hover .button_icon{
    color: var(--primary);
}

@keyframes glow{
    0%{
        box-shadow: 0 0 10px var(--primary);
    }

    100% {
        box-shadow: 0 0 25px var(--primary);
    }
}

button{
    padding: 9px 25px;
    background-color: #25abd9;
    border: none;
    border-radius: 50px;


}

.main-bg{
    background-image: url('../images/TASA_Pumpkin.jpg');
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}