@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --primary: aqua;
    --cb: cubic-bezier(.05, .61, .41, .95)
}



body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;

    overflow-x: hidden;
}


/* .flex{
    display: flex;
    gap: var(--gap, 5rem);
} */




/* Navigation Bar */
/*-----------------------------------------------*/
/*-----------------------------------------------*/
header{
    /* position: absolute; */
    list-style: none;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #111;
    z-index: 9999;
}

.mobile-nav-toggle{
    display: none;
}

.tasa_logo{
    margin-right: auto;
}

.nav_links{
    list-style: none;
    background-color: #111;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    background-color: #111;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    color:rgb(255, 255, 255);
    background-color: #111;
    font-family: 'Aclonia';
    font-size: 20px;
}

.nav_links li a:hover{
    color: aqua;
    background-color: #111;
}
    /*When Displayed at Phone Size*/
    /*-----------------------------------------------*/
@media (max-width: 35em){
    .nav_links{
        z-index: 1000;
        position: fixed;
        inset: 0 0 0 30%;
        background: #111;
        

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        background-color: hsl(0 0% 0% / 0.5);

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .nav_links[data-visible = "true"]{
        transform: translateX(0%);
    }

    .nav_links li{
        margin: 1em;
    }

    .mobile-nav-toggle{
        display:block;
        background-repeat: no-repeat;
        position: absolute;
        aspect-ratio: 1;
        border: 0;
        z-index: 9999;
        width: 2rem;
        top: 2rem;
        right: 2rem;
    }

    .button-logo{
        display: none;
    }
}
    /*-----------------------------------------------*/



@supports(backdrop-filter: blur(1rem)){
    .nav_links{
        background-color: hsl(0 0% 0% / 0.75);
        backdrop-filter: blur(1rem);
    }
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/

/*TASA Background Image*/
/*-----------------------------------------------*/

.main-bg{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url(../images/TASA_Pumpkin.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60rem;
    width: 100%;
    /* background-color: rgba(0,0,0,0.4); */
    background: linear-gradient(rgb(0,0,0,0.4), #111);
    color: white;
    font-size: 50px;
}

.title img{
    margin-top: -15rem;
    width: 100%;
    animation: Slide_Up 1.4s ease;
}

@keyframes Slide_Up {
    0%{
        transform: translateY(250px);
    }
    100%{
        transform: translateY(0);
    }
    
}

/* -------------------------------------- */
/* After Title */

.separate{
    height: 100px;
    width: 100%;
    background: linear-gradient(to top, #111, #111);
}

/* ====== ====== ====== ====== ====== ====== ====== ====== ====== */
.content{
    background-color: #111;
    display: grid;
    place-items: center;
    text-align: center;
    height: 30vh;
}

.content h3{
    font-weight: 600;
    font-family: 'Aclonia';
    font-size: 4rem;
    color: rgb(230, 96, 118);

}

.content p {
    width: 50%;
    color: white;
}

.item2{
    position: absolute;
    border: solid;   
    transform: rotate(-90deg); 
    height: 15%;
    width: auto;
    margin-top: 10rem;
    margin-left: -10rem;
    border: transparent;
    z-index: 88;
}

.item2 h3{
    font-family: 'Aclonia';
    font-size: 4rem;
    color: rgb(164, 85, 98);
}


.about-us-section{
    display: grid;
    place-items: center;
    background-color: #111;
}
.about-us-container{
    display: block;
    width: 900px;
    padding: 0 25px;
    /* border: solid; */
    /* border-color: white; */
}


.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 60vh;
    font-family: "Roboto", sans-serif;
    transition: 0.25s;
    background-color: #111;
    color: white;
}

.cards {
    display: flex;
    max-width: 800px;
    width: calc(100% - 100px);
    height: 400px;
  }
  
  .cards .card .info .title {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .cards .card .label .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    background-color: white;
    color: var(--color);
    border-radius: 50%;
  }
  
  .cards .card .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    white-space: pre;
    transition: 1s var(--cb);
  }
  
  .cards .card {
    position: relative;
    min-width: 60px;
    background: var(--bg);
    overflow: hidden;
    margin: 5px;
    background-size: auto 150%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s var(--cb);
    border-radius: 30px;
  }
  
  .cards .card .label {
    display: flex;
    position: absolute;
    right: 0;
    height: 40px;
    transition: 0.5s var(--cb);
  }
  
  .cards .card.active .label {
    bottom: 20px;
    left: 20px;
  }
  
  .cards .card.active {
    flex-grow: 10000;
    background-size: auto 100%;
  }
  
  .cards .card:not(.active) .label {
    bottom: 10px;
    left: 10px;
  }
  
  .cards .card .shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(
      0, #0004, transparent
    );
  }
  
  .cards .card.active .info {
    opacity: 1;
  }
  
  .cards .card:not(.active) .info {
    opacity: 0;
  }
 
/* ====== ====== ====== ====== ====== ====== ====== ====== */
/*-----------------------------------------------*/


/* Insta and Facebook BUTTON EFFECTS*/
/*-----------------------------------------------*/
.button-logo{
    margin-left: 20px;
}

.button_icon{
    color: rgb(255, 255, 255);
    transition: color 0.5s ease-out;
}

.button-logo:hover{
    animation: glow 1s infinite alternate;
    text-shadow: 0 0 15px var(--primary);
}

.button:hover .button_icon{
    color: var(--primary);
}

@keyframes glow{
    0%{
        box-shadow: 0 0 10px var(--primary);
    }

    100% {
        box-shadow: 0 0 25px var(--primary);
    }
}

.button-logo{
    vertical-align: top;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 26px;
    box-shadow: 0 5px 15px - 5px #111;
    cursor: pointer;
    font-family: roboto;
    height: 50px;
    width: 50px;
    overflow: hidden;
    transition: text-shadow 0.5s ease;
    padding: 5px;
    
}
/*-----------------------------------------------*/

/*Officers Page*/
/*-----------------------------------------------*/
.officers-bg{
    background-image: url('../images/officers.JPG');
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#officers-title{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Andale Mono';
    font-size: 90px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 20%;
}

/*Start of the Gallery*/
/*-----------------------------------------------*/

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    /* background-color: #ffc1a7; */
    background-color: #111;
    overflow: hidden;
}

.column{
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
    overflow: hidden;
 
}

.column img{
    margin-left: 3rem;
    aspect-ratio: 1;
    margin-top: 3rem;
    vertical-align: middle;
    width: 80%;
    height: auto;
    cursor: pointer;
    transition: transform 1s;
    /* filter: drop-shadow(10px 10px 10px #d18f74); */
}

.cute-icon{
    position: absolute;
    top: 30px; left: 33px;
    z-index: 500;
}

.cute-icon img{
    width: 12%;

}




/*Features of the Image Buttons */
/*-----------------------------------------------*/

.columm img:hover{
    transform: scale(1.1);
}

/* #ChinProfile:hover, #GavinProfile:hover, #BowProfile:hover, #MinnieProfile:hover, #CenterProfile:hover, #WinProfile:hover, #SummerProfile:hover, #GloryProfile:hover, #EikProfile:hover{
    transform: scale(1.1);
} */

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column{
      flex: 100%;
      max-width: 100%;
    }
  }

.profile-preview{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.profile-preview, .preview{
    display: none;
    /* transform: translate(-50%, -50%) scale(0); */
    /* transition: 200ms ease-in-out; */
    padding: 2rem;
    text-align: center;
    margin: 2rem;
    width: auto;
    background: rgba(red, green, blue, alpha);
}

.profile-preview img{
    width: 33%;
}

.profile-preview, .active{
    display: inline-block;
}

.fa-times{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color: white;
    transition: transform 1s;
}

.fa-times:hover{
    transform: rotate(90deg);
}

/*-----------------------------------------------*/
/*EVENTS*/
/*-----------------------------------------------*/

.events{
    background-color: #2f2f5e;
}
.events-container{
    display: grid;
    padding: 3rem;
    margin: 1rem;
    grid-gap: 1rem;
    border-style: solid;
    place-items: center;
    width: 50rem;
}

.boba img, .thanksgiving img, .karaoke img{
    width: 100%;
    border-style: solid;
    border-width: 0.5rem;
}

.events-hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.events-hidden.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition-delay: calc(200ms*var(--order));
}


/*-----------------------------------------------*/

footer{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 25rem;
    width: 100vw;
    padding-top: 40px;

}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.footer-content img{
    width: 10%;
    /* border: solid; */
    /* border-radius: 9999px; */
}

.footer-content h3{
    line-height: 3rem;
    font-family: "Aclonica";
    font-size: 20px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

}

.socials li{
    color: white;
    margin: 0 10px;
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 10px 10px; */
}




