@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --primary: aqua;
}

header{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #111;
}

body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100%;
}

/* nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #000000;
    width: 60px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0,0,0);
} */
.tasa_logo{
    margin-right: auto;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    color:rgb(255, 255, 255);
}

.nav_links li a:hover{
    color: aqua;
}



.main-bg{
    background-image: url('../images/TASA_Pumpkin.jpg');
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;

}

/* BUTTON EFFECTS*/
/*-----------------------------------------------*/
.button-logo{
    margin-left: 20px;
}

.button_icon{
    color: rgb(255, 255, 255);
    transition: color 0.5s ease-out;
}

.button-logo:hover{
    animation: glow 1s infinite alternate;
    text-shadow: 0 0 15px var(--primary);
}

.button:hover .button_icon{
    color: var(--primary);
}

@keyframes glow{
    0%{
        box-shadow: 0 0 10px var(--primary);
    }

    100% {
        box-shadow: 0 0 25px var(--primary);
    }
}

.button-logo{
    vertical-align: top;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 26px;
    box-shadow: 0 5px 15px - 5px #111;
    cursor: pointer;
    font-family: roboto;
    height: 50px;
    width: 50px;
    overflow: hidden;
    transition: text-shadow 0.5s ease;
    padding: 5px;
    
}
/*-----------------------------------------------*/